<div class="jumbotron center">
	<h1 id="jumbotron-title">asPinteresting</h1>
	<br />
	<h2>...as "pinterest.com"... get it?</h2>
	<br />
	<br />
	<p>because it's 'as interesting' as pinterest.com, but it's not pinterest.com haha</p>
	<br />
	<p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>