<div id="about-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile-pic.jpg", class:"img-responsive img-circle" %>
    </div>

    <div class="col-md-8">
      <h2 class="media-heading">About</h2>
      <p>Welcome to my pinterest rip-off. It's a website I made myself, initially by following the One Month Rails tutorial. Since then, I've made many modifications, and I will continue to do so as my skills improve.
      </p>
      <p>I'm always on the look-out for people to collaborate with; feel free to contact me or just have a snoop around through the icon-links below. The Github link goes directly to this website's repository.
      </p>

      <div class="row icon-row">
        <div class="col-xs-6 col-sm-3">
          <a href="http://www.github.com/Yorkshireman/pinteresting"><span class="icon-github"></span></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="mailto:andrew_stelmach@hotmail.com"><span class="icon-email"></span></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://www.rubywarriors.com"><span class="icon-wordpress"></span></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://www.facebook.com/andrew.stelmach/"><span class="icon-facebook"></span></a>
        </div>
      </div>

    </div>

  </div>

  <%= link_to 'Back', pins_path, class: "glyphicon glyphicon-chevron-left btn btn-primary" %>

</div>

