// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
  border-radius: 6px;

}

.box img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.pin-description {
	font-family: 'News Cycle', sans-serif;
	font-size: 1.1em;
	color: #2c3e50;
	font-weight: bold;
}

.user {
	font-family: 'Comfortaa', cursive;
	color: #858585;
	font-size: 0.9em;
}

.glyphicon-user, .glyphicon-pencil {
	margin-right: 0.20em;
}

#pins .glyphicon-user {
	margin-right: 0.35em;
}

.pin-actions {
	font-family: 'Comfortaa', cursive;
	font-size: 0.85em;
	margin-top: 8px;
	a {
		color: #858585;
	}
}

.panel-body {
	padding: 10px 13px;
	.user {
		margin-bottom: 0;
	}	
}

.show-view-container {
	display: inline-block;
}